.deps
.libs/
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.*
!config.m4
!config.w32
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
mssql.la
php_mssql.lo
run-tests.php
php_mssql.dep

.vscode/